body, html {
  height: 100%;
}

.node {
  cursor: pointer;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

#svgContainer {
  flex: 1 1 auto;
  overflow: auto;
}

#sidePanel {
  flex: 0 0 320px;
  overflow: auto;
  border-left: solid #ccc 1px;
}

.hidden {
  display: none;
}

p.comment {
  margin-top: 16px;
}

div.ui.error.message {
  margin: auto;
}

div.ui.errorPopup.message {
  left: 40px;
  bottom: 40px;
  position: fixed;
}

div.ui.card.intro {
  width: 770px;
  margin: auto;
}

.version {
  color: #888;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background-image: url(topola.jpg);
  background-size: cover;
  background-position: 0% 20%;
  position: fixed;
  z-index: -100;
  filter: blur(8px) opacity(30%);
  -webkit-filter: blur(8px) opacity(30%);
}
